.header-wrapper {
  display: block;
  height: 100px;
  background-color: #0049B7;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.2s ease-in-out;
}

.nav-down {
  top: -100px;
}

.header-wrapper h1 {
  position: absolute;
  z-index: 10;
  color: white;
  left: 42%;
  top: 10px;
}

.website-code {
  position: absolute;
  margin-left: 73%;
  margin-top: 45px;
  color: white;
}

.website-code-link {
  color: white;
}

.button-flex-row {
  margin-left: 70px;
  margin-top: 25px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
}

.resume-icon, .contact-info-icon, .linkedin-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.button {
  width: 50px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
}

.button:hover {
  flex-grow: 3;
}

.button:hover a img {
  scale: 2;
}

.resume-icon {
  background-color: rgb(224, 49, 49);
}

.contact-info-icon {
  background-color: rgb(104, 100, 100);
}

.contact-info-button::after {
  content: 'Email: mckoendeclan@gmail.com \A\A Phone: \A (813) 503-815';
  white-space: pre-wrap;
  position: absolute;
  border-radius: 10px;
  top: 0;
  background-color: rgb(104, 100, 100);
  padding: 40px 55px;
  transform: scale(0);
  transition: 
    transform ease-out 150ms,
    top ease-out 150ms
  ;
}

.contact-info-button:hover::after {
  transform: scale(1);
  top: 150%;
}
