.projects-container {
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.projects-container h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

.projects-header {
  margin-bottom: 10px;
}

.projects-grid {
  display: grid;
  height: 1000px;
}

.minesweeper-container, .sudoku-container, .boardbuddy-container, .avl-tree-container {
  display: grid;
  height: 250px;
  grid-template-rows: 30px 1fr;
}

.minesweeper-information, .sudoku-information {
  width: 50%;
  position: relative;
}

.minesweeper-information {
  color: rgb(116, 204, 233);
}

.sudoku-information {
  color: rgb(227, 151, 51);
}

.minesweeper-gif, .sudoku-gif {
  height: 240px;
  width: 340px;
  position: absolute;
  left: 130%;
  top: -20px;
}

.minesweeper-link, .sudoku-link, .boardbuddy-link, .avl-tree-link {
  color: black;
  text-decoration: underline;
  width: 50%;
}

.minesweeper-link:hover, .sudoku-link:hover, .boardbuddy-link:hover, .avl-tree-link:hover {
  color: rgb(58, 58, 58);
}